{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  },

  "extends": ["airbnb-base"],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "overrides": [],
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]
      }
    ],
    "no-console": "off",
    "comma-dangle": "off",
    "implicit-arrow-linebreak": ["error", "beside"],
    "object-curly-newline": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": false,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ]
  }
}
